@import "susy";

$susy: (
  columns: 12,
  global-box-sizing: border-box
);

@include border-box-sizing;

.container {
	@include container;
}

@media (min-width: 800px) {
	.container {
		max-width: 100%;
	}
}