@import "susy";
@import "compass";

.hero {
	width: 100%;
	background-position: 50% 30%;
	background-size: 200%;
}

.hero-content-container {
	@include container;
	color: white;
	text-align: center;
	height: 350px
}

.hero-content p {
}

.hero-content a.button {
	border: 2px solid white;
	padding: 10px;
	cursor: pointer;
	@include border-radius(50px);
	font-weight: bold;
	margin: 0 10px 0 10px;
	display: inline-block;
	width: 170px;
}

.hero-content a.button:hover {
	background: white;
	color: #777777;
	@include single-transition(background, .5s);
	@include single-transition(color, .5s);
}

@media (min-width: 500px) {
	.hero {
		background-size: 150%;
	}

	.hero-content-container {
		height: 350px
	}
}

@media (min-width: 865px) {
	.hero {
		background-size: 100%;
	}

	.hero-content-container {
		height: 500px;
	}
}