@import "compass";

.menu-icon {
	width: 32px;
	margin: 10px;
}

nav {
	font-family: 'Open Sans Condensed';
	text-transform: uppercase;
}

nav li a {
	text-decoration: none;
	color: black;
	font-size: 24px;
}

nav li:hover {
	@include transition-property(background);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in);

	a {
	@include transition-property(color);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in);
	}
}

.dropdown {
	display: none;
	background: white;
	z-index: 1;
	text-align: center;
	padding: 0;	
	margin-bottom: 100px;
}

.dropdown.visible {
	display: block;
}

.dropdown li {
	display: block;
	padding: 10px 8px;
	border-bottom: 1px solid #ccc;
}

@media (min-width: 520px) {
	.menu-icon {
		display: none;
	}

	.dropdown {
		display: block !important;
		padding: 10px 0 10px 0;
		background: none;
		margin-bottom: 0;
	}

	.dropdown li {
		display: inline-block;
		border: none;
	}

	.dropdown li a {
		text-align: center;
	}

	nav li:hover {
		background: white;
	}

	nav li a:hover {
	@include transition-property(color);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in);
	}

	nav a.active:before {
		content: '\2736';
	}
}

@media (min-width: 1075px) {
	.dropdown li a {
		padding: 10px 18px;
	}
}